.parallax {
  @include perspective(300px);
  height: 500px; // fallback for older browsers
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__group {
  @include transform-style(preserve-3d);
  height: 500px; // fallback for older browsers
  height: 100vh;
  position: relative;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  @include transform(translateZ(90px) scale(.7));
  z-index: 1;
}

.parallax__layer--base {
  @include transform(translateZ(0));
  z-index: 4;
}

.parallax__layer--back {
  @include transform(translateZ(-300px) scale(2));
  z-index: 3;
}

.parallax__layer--deep {
  @include transform(translateZ(-600px) scale(3));
  z-index: 2;
}
