@font-face {
    font-family: 'sf pro bold';
    src: url('../fonts/sf-pro-bold/sf-pro-bold.eot');
    src: url('../fonts/sf-pro-bold/sf-pro-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sf-pro-bold/sf-pro-bold.woff2') format('woff2'),
        url('../fonts/sf-pro-bold/sf-pro-bold.woff') format('woff'),
        url('../fonts/sf-pro-bold/sf-pro-bold.ttf') format('truetype'),
        url('../fonts/sf-pro-bold/sf-pro-bold.svg#SFProDisplay-Bold') format('svg');
}

@font-face {
    font-family: 'sf pro regular';
    src: url('../fonts/sf-/sf-font-regular.eot');
    src: url('../fonts/sf-font-regular/sf-font-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sf-font-regular/sf-font-regular.woff2') format('woff2'),
        url('../fonts/sf-font-regular/sf-font-regular.woff') format('woff'),
        url('../fonts/sf-font-regular/sf-font-regular.ttf') format('truetype'),
        url('../fonts/sf-font-regular/sf-font-regular.svg#SFProDisplay-Regular') format('svg');
}
