* {
  margin:0;
  padding:0;
}

html, body {
  @include font-smoothing(on);
  // removes blue border from buttons
  overflow: hidden;
  a:focus {
    outline: 0;
  }
}

// pseudo classes
a {
  &:link, &:visited, &:hover, &:active, &:focus {
  }
}

// text groupings and styles

.text-group {
  position: absolute; left: 50%; top: 50%; // centre the content in the parallax layers
  width: 75%;
}

h1 {
  @include transform(translate(-50%, -50%));
  font-family: 'sf pro bold', helvetica, sans-serif;
  font-size: 5rem;
  margin: 0; // overwrite default styles
  text-align: center;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
  a {
    &:link, &:visited, &:active, &:focus {
      color: white;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

#group1, #group3, #group5, #group7 {
  h1 {
    color: white;
  }
}

#group2, #group4, #group6 {
  h1 {
    color: white;
    text-shadow: .05em .05em 0 rgba(0, 0, 0, 0.20);
  }
}
