// bootstrap overrides
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// row with equal height columns
.eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// remove blue highlight on focus
a:focus {
  outline: 0;
}

button:focus {
  outline: none;
}
